/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    color: #4f4f4f;
    font-family: 'Special Elite', 'Lucida Grande';
    background-size: cover;
}
.container{
    background-image: url("../Picture/about/camargue.jpg");
    text-align: center;
    height:750px;
    margin: 5%;
    background-size: cover;
    background-repeat: no-repeat;
    position:relative;
    color: rgb(255, 255, 255);   
}
.container h1{    
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    font-size: 4.5rem;
    width: 75%;
    
}
.container .headerContainer{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top:1.5%;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.hItem{
    padding: 10px 15px;
    margin-right: 10px;
    background-color:rgba(119, 136, 153, 0.692);
    border:1px ;
    border-radius: 15px;
    width: 65px;
}
.hItem:hover{
    background-color: lightsteelblue;
    border-color: lightsteelblue;
    }
.hItem a{
    color:white;
}
.about{
    text-align: center;
    width: 65%;
    margin:0 auto 4% auto;
}
.about h2{
    font-size: 2rem;
    padding-bottom: 2%;
}
section{
    margin: 0 5%;
    display: flex;   
}
.story .text{
    display:flex;
    justify-content:center;
    align-items:center; 
}
.story div{
    width:50%; 
}
.story h3{
    text-align: center;
}
.story p{
    text-align: center;
}
.images{
    height: 550px;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}
.firstP{
    background-image: url("../Picture/about/umbrela.jpg");
}
.secondP{
    background-image: url("../Picture/about/kohlipe.jpg");
}
.thirdP{
    background-image: url("../Picture/about/nyc.jpg");
}



footer{
    margin-top: 3%;
    padding: 2%;
    background-color: rgba(119, 136, 153, 0.623);
}
footer div{
    display:inline-block;
    
}
.footerContact{ 
    color:white;
    font-weight: 700;
    background-color: rgba(255, 245, 238, 0);
    padding: 1%;
    width: 8%;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    right:46.00003%;
    
}
.footerContact:hover{
    color:lightskyblue;
    border-color: lightskyblue;
}
.fa {
  padding: 15px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
@media(max-width:1200px){
    .container h1{
        font-size: 4.25rem ;
    }
}
@media(max-width:1070px){
    .container h1{
        width:441px;
    }
}
@media(max-width:800px){
    
    .container{
        height: 550px;
        display: block;
        text-align: center;  
    }
    .headerContainer{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }
    .hItem{
        width: 45px;
        font-weight: 550;
        font-size: 0.6rem;
        padding: 2%;
        margin-bottom: 2%;
    }
    
    .text div{
        width:85% ;
           
    }
    .footerContact{
        width: 12%;
        right: 44%;
    }
}
@media(max-width:600px){
    .container{
        height: 400px;
    }
    .container h1{
        font-size: 2rem;
        width: 210px;
        margin-top: 10%; 
        top:32.5%
    }
    .hItem{
        width: 45px;
        font-weight: 550;
        font-size: 0.6rem;
        padding: 2%;
        margin-bottom: 2%;
    }
    .container h2{
        font-size: 1.75rem;
        margin: 4% auto;
    }
    .story{
        display:block;
    }
    .story div{
        width: auto;
        align-items: center;
        margin-bottom: 3%;
    }
    .main {
        margin-bottom: 5%;
    }
    .main img {
        opacity: 1;
    }
    .main .title{
        font-size: 2rem;
        width: 85%;
        top:35%;
    }
    .main .myProject{
        padding: 1%;
        font-size: 0.7rem;
        top:50%;
    }
    .texte{
        width: 85%;
        font-size: 00.8rem;
    }
    
    footer .fa{
        font-size:0.6rem ;
        padding: 10px;
    }
    .footerContact{
        font-size: 0.6rem;
        width: 19%;
        right:40.5%;
    }
    
}