/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url("https://picsum.photos/id/100/1700/1200?grayscale");
    font-family: 'Special Elite', 'Lucida Grande';
    color: rgb(255, 255, 255);
    background-size: cover;
}
.container{
    text-align: center;
        margin: 4.7%;
}
.container h1{    
    font-size: 3.5rem;
    
}
.container .headerContainer{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top:1.5%;
}
.hItem{
    text-align: center;
    width: 65px;
    padding: 10px 15px;
    margin-right: 10px;
    background-color:rgba(119, 136, 153, 0.479);
    border:1px ;
    border-radius: 15px;
}
.hItem:hover{
    background-color: lightsteelblue;
    border-color: lightsteelblue;
    }
.hItem a{
    color:white
}
.title{
    font-size: 3.5rem;
    margin-top: 3.1%;
}
body p{
    margin-top: 2%;
    text-align:center;
    margin: 0 auto;
    margin-top: 2%;
    width: 55%;
}
.main{
    margin-top: 3.1%;
    position: relative;
    text-align:center;
    color: white;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.main img{
    max-width: 100%;
    height: auto;
    width: auto\9;
    opacity:0.8;
}
.main .phoneN a{
    background-color: rgba(46, 139, 86, 0);
    color:white;
    font-weight: 700;
    font-size: 2.5rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    top: 32%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.main .myProject a{
    background-color: rgba(46, 139, 86, 0);
    color:white;
    font-weight: 700;
    font-size: 1.75rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}
footer{
    margin-top:2%;
    padding: 3%;
    background-color: rgba(119, 136, 153, 0.377);
}
footer div{
    display:flex;
}
.fa {
  padding: 1%;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
  margin-left: 1%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
  .fa-twitter {
    background: #55ACEE;
    color: white;
  }  
  .fa-facebook {
    padding: 1% 1.2%; 
    background: #3B5998;
    color: white;
  }
  .fa-google {
    background: #dd4b39;
    color: white;
  }
@media(max-width:800px){
    
    .container{
        display: block;
        text-align: center;  
    }
    .hItem{
        width: 65px;
    }
    .main .phoneN a{
        font-size: 1.5rem;
        top:32%;
    }
    .main .myProject a{
        font-size: 1.2rem;
        top:50%;
    }
    .fa-facebook{
        padding: 1% 1.40%;
    }
    .fa-google{
        padding: 1% 1.1%;
    }
}
@media(max-width:500px){
    .container h1{
        font-size: 2rem;
        margin-top: 10%; 
    }
    .hItem{
        width: 40px;
        font-weight: 550;
        font-size: 0.6rem;
        margin:6% 2% 0% 2%;  
        
    }
    .main .phoneN a{
        font-size: 1.15rem;
        top:47%;
    }
    .main .myProject a{
        font-size: 1rem;
        top:60%;
    }
    img{
        margin-bottom: 75%;
    }
    .fa-facebook{
        padding: 1% 1.8%;
    }
    .fa-google{
        padding: 1% 1.1%;
    }
}
    
