/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url("https://picsum.photos/id/276/1700/2000");
    font-family: 'Special Elite', 'Lucida Grande';
    color: rgb(255, 255, 255);
}
.container{
    display:inline-block;
    margin: 25px;
    margin-top: 4.7%;
}
.container h1{    
    font-size: 3rem;
    
}
.container .headerContainer{
    display:flex;
    position:absolute;
    right: 2%;
    top: 10%;
    text-align: center;
}
.hItem{
    padding: 10px 15px;
    margin-right: 10px;
    background-color:lightslategray;
    border:1px ;
    border-radius: 15px;
}
.hItem:hover{
    background-color: lightsteelblue;
    border-color: lightsteelblue;
    }
.main{
    margin-top: 3.1%;
    margin-bottom: 5%;
    position: relative;
    text-align:center;
    color: white;
}
.main img{
    opacity:0.6;
}
.main img:hover{
    opacity: 1;
    transition:2s;
}
.main .title{
    font-size: 4rem;
    position: absolute;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .myProject{
    background-color: rgba(46, 139, 86, 0);
    color:white;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .myProject:hover{
    color:lightskyblue;
    border-color:lightskyblue;
}
.firstRow ,.secondRow {
    display: flex;
    justify-content: space-around;
    margin-bottom: 4%;
    text-align: center;
}
.item img{
    opacity: 0.9;
}
.item img:hover{
    opacity: 1;
}
.item p{
    font-size:1.2rem;
    padding-top: 5%;
    font-weight: 700;
    }
footer{
    padding: 4%;
    background-color: rgba(119, 136, 153, 0.623);
}
footer div{
    text-align: center;
}
.footerContact{ 
    color:white;
    background-color: rgba(255, 245, 238, 0);
    padding: 1%;
    width: 8%;
    border: 1px solid white;
    border-radius: 15px;
    text-align: center;
}
.footerContact:hover{
    color:lightskyblue;
    border-color: lightskyblue;
}
.fa {
  padding: 25px;
  font-size: 30px;
  text-align: center;
  text-decoration: none;
  border-radius: 50%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }