/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1.2;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}

body {
    background-image: url("../Picture/Project/Nbridge.jpg");
    font-family: 'Special Elite', 'Lucida Grande';
    color: rgb(255, 255, 255);
    background-size: cover;
}
.container{
    text-align: center;
        margin: 4.7%;
}
.container h1{    
    font-size: 3.5rem;
    
}
.container .headerContainer{
    display:flex;
    text-align: center;
    justify-content: center;
    margin-top:1.5%;
}
.hItem{
    padding: 10px 15px;
    margin-right: 10px;
    background-color:rgba(119, 136, 153, 0.425);
    border:1px ;
    border-radius: 15px;
    width: 65px;
}
.hItem:hover{
    background-color: lightsteelblue;
    border-color: lightsteelblue;
    }
.hItem a{
    color:white
}
.title{
    font-size: 3.5rem;
    margin-top: 3.1%;
}
body p{
    margin-top: 2%;
    text-align:center;
    margin: 0 auto;
    margin-top: 2%;
    width: 55%;
}
.main{
    margin-top: 3.1%;
    margin-bottom: 1%;
    position: relative;
    text-align:center;
    color: white;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.main img{
    opacity:0.6;
    max-width: 100%;
    height: auto;
    width: auto\9;
}
.main img:hover{
    opacity: 1;
    transition:2s;
}

.main .myProject{
    background-color: rgba(46, 139, 86, 0);
    color:white;
    font-weight: 700;
    font-size: 1.25rem;
    padding: 10px;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
}
.main .myProject:hover{
    color:lightskyblue;
    border-color:lightskyblue;
}
.firstRow {
    display: flex;
    margin-bottom: 1%;
    text-align: center;
}
.imgS{
    display:flex;
}
.imgS .item{
    padding-left:3%;
}
.texte{
    max-width: 20%;
    font-size: 1.2rem;
    margin:auto;
    text-align: center;
    padding-left: 5%;
}
.item img{
    opacity: 0.9;
    max-width: 100%;
    height: auto;
    width: auto\9;
}

.item img:hover{
    opacity: 1;
}

footer{
    padding: 3%;
    background-color: rgba(119, 136, 153, 0.623);
}
footer div{
    display:inline-block;
    
}
.footerContact{ 
    color:white;
    font-weight: 700;
    background-color: rgba(255, 245, 238, 0);
    padding: 1%;
    width: 8%;
    border: 2px solid white;
    border-radius: 15px;
    position: absolute;
    right:46.00003%;
    
}
.footerContact:hover{
    color:lightskyblue;
    border-color: lightskyblue;
}
.fa {
  padding: 15px;
  text-align: left;
  text-decoration: none;
  border-radius: 50%;
}
.fa-linkedin {
    background: #007bb5;
    color: white;
  }
@media(max-width:800px){
    
    .container{
        display: block;
        text-align: center;  
    }
    .headerContainer{
        display: flex;
        justify-content: center;
        margin-top: 2%;
    }
    .main .title{
        font-size: 3rem;
        width: 75%;
        top:35%;
    }
    .main .myProject{
        top:50%;
    }
    .item{
        width: 30%;
    }
    .item p{
        font-size: 1rem;
    }
    .firstRow{
        display: block;
    }
    .imgS{
        justify-content: space-around;
        padding-right:3%;
    }
    .texte{
        max-width:70% ;
        padding-right:5%;
        margin: 5% auto;
    }
    .footerContact{
        width: 12%;
        right: 44%;
    }
}
@media(max-width:500px){
    .container h1{
        font-size: 2rem;
        margin-top: 10%; 
    }
    .hItem{
        width: 45px;
        font-weight: 550;
        font-size: 0.6rem;
        padding: 2%;
        margin-bottom: 2%;
    }
    .container h2{
        font-size: 1.75rem;
        margin: 4% auto;
    }
    .container p{
        font-size: 0.8rem;
        font-weight: 400;
        width: 85%;
    }
    .main {
        margin-bottom: 5%;
    }
    .main img {
        opacity: 1;
    }
    .main .title{
        font-size: 2rem;
        width: 85%;
        top:35%;
    }
    .main .myProject{
        padding: 1%;
        font-size: 0.7rem;
        top:50%;
    }
    .texte{
        width: 85%;
        font-size: 00.8rem;
    }
    
    footer .fa{
        font-size:0.6rem ;
        padding: 10px;
    }
    .footerContact{
        font-size: 0.6rem;
        width: 19%;
        right:40.5%;
    }
    
}